

<h1><%=@corsair.firstname%></h1>
<h2><%=@corsair.age%></h2>

<%= link_to "Changer mes informations", edit_corsair_path, class: "btn btn-lg btn-primary"%>

<%= link_to "Valider", corsairs_path, class: "btn btn-lg btn-success"%>